
nav {
    background-color: blue;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


h3 {
    margin: 10px;
}

ul {
    display: flex;
    align-items: center;
    list-style: none;
}

li {
    margin: 10px;
}


