
nav {
    background-color: orange;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}


h3 {
    margin: 10px;
}

ul {
    display: flex;
    align-items: center;
    list-style: none;
}

li {
    margin: 10px;
    text-decoration: none;
    color: white;
}


